@import "tailwindcss";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.calender{
    margin: 10% 40%;
}
.toper{
    display: flex;
    justify-content: space-between;
    border: 1px solid gainsboro;
    padding: 5% 10%;
    align-items: center;
}
.toper input{
    font-size: large;
}
.midle {
    border: 1px solid gainsboro;
    margin-top: 1px;

}
.midle .mnthyear{
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
}
.midle ul{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    padding: 0px 20px;

}
.midle ul li{
    list-style: none;

}
.least ul {
    display: flex;
    align-items: center;
    text-align: center;

}
.least ul li{
    border: 1px solid gray;
    display: flex;
flex-direction: column;
    align-self: center;
    width: 60px;
    height: 60px;
    text-align: center;
    justify-content: center;
}
